<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CSC4710 Demo</display-name>
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>user.web.servlet.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/InitServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ArmorServletRegister</display-name>
    <servlet-name>ArmorServletRegister</servlet-name>
    <servlet-class>armor.web.servlet.ArmorServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmorServletRegister</servlet-name>
    <url-pattern>/ArmorServletRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ArmorServletDelete</display-name>
    <servlet-name>ArmorServletDelete</servlet-name>
    <servlet-class>armor.web.servlet.ArmorServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmorServletDelete</servlet-name>
    <url-pattern>/ArmorServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ArmorServletUpdate</display-name>
    <servlet-name>ArmorServletUpdate</servlet-name>
    <servlet-class>armor.web.servlet.ArmorServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmorServletUpdate</servlet-name>
    <url-pattern>/ArmorServletUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>armorListAll</display-name>
    <servlet-name>armorListAll</servlet-name>
    <servlet-class>armor.web.servlet.armorListAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>armorListAll</servlet-name>
    <url-pattern>/armorListAll</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WeaponServletRegister</display-name>
    <servlet-name>WeaponServletRegister</servlet-name>
    <servlet-class>weapon.web.servlet.WeaponServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeaponServletRegister</servlet-name>
    <url-pattern>/WeaponServletRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WeaponServletDelete</display-name>
    <servlet-name>WeaponServletDelete</servlet-name>
    <servlet-class>weapon.web.servlet.WeaponServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeaponServletDelete</servlet-name>
    <url-pattern>/WeaponServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WeaponServletUpdate</display-name>
    <servlet-name>WeaponServletUpdate</servlet-name>
    <servlet-class>weapon.web.servlet.WeaponServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeaponServletUpdate</servlet-name>
    <url-pattern>/WeaponServletUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>weaponListAll</display-name>
    <servlet-name>weaponListAll</servlet-name>
    <servlet-class>weapon.web.servlet.weaponListAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>weaponListAll</servlet-name>
    <url-pattern>/weaponListAll</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CharacterServletRegister</display-name>
    <servlet-name>CharacterServletRegister</servlet-name>
    <servlet-class>character.web.servlet.CharacterServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharacterServletRegister</servlet-name>
    <url-pattern>/CharacterServletRegister</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CharacterServletDelete</display-name>
    <servlet-name>CharacterServletDelete</servlet-name>
    <servlet-class>character.web.servlet.CharacterServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharacterServletDelete</servlet-name>
    <url-pattern>/CharacterServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>CharacterServletUpdate</display-name>
    <servlet-name>CharacterServletUpdate</servlet-name>
    <servlet-class>character.web.servlet.CharacterServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CharacterServletUpdate</servlet-name>
    <url-pattern>/CharacterServletUpdate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>listAll</display-name>
    <servlet-name>listAll</servlet-name>
    <servlet-class>character.web.servlet.listAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAll</servlet-name>
    <url-pattern>/listAll</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
